::ng-deep .p-overlaypanel {
    width: 325px;
}

::ng-deep .p-button {
    min-width: auto;
    padding: 0;
    border: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    ::ng-deep .p-overlaypanel {
        width: 245px;
    }
}

@media screen and (max-width: 767px) {
    ::ng-deep .p-overlaypanel {
        width: 170px;
    }
}
