<button class="p-link layout-topbar-button" (click)="op.toggle($event)">
    <i class="pi pi-th-large"></i>
    <span>Apps</span>
</button>

<p-overlayPanel #op [showCloseIcon]="true">
    <div class="grid">
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
        <div class="col-6 md:col-4 lg:col-3">
            <button pButton>
                <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-round"
                     src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="{item.name}"/>
            </button>
        </div>
    </div>
</p-overlayPanel>
